// Section: Variables
$color-white: #ffffff;
$color-light: #f1f5f8;
$color-black: #121212;
$color-night: #001632;

$color-red: #e53935;
$color-blue: #2196f3;
$color-pink: #e91e63;
$color-green: #43a047;
$color-purple: #9c27b0;
$color-orange: #fb8c00;
$color-indigo: #6633ff;

$shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

html {
   font-size: 100%;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: inherit;
   list-style: none;
   list-style-type: none;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: $color-black;
   background: $color-white;

   &.scrolling {
      overflow-y: hidden;
   }
}

a,
button {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   text-decoration: none;

   // Media Query
   @media only screen and (max-width: 768px) {
      cursor: default !important;
      border: none;
      outline: none;
   }
}

img,
video {
   display: block;
   max-width: 100%;
   height: auto;
   object-fit: cover;
}
